<div class="container" *ngIf="info$ | async as info">
    <form #monForm="ngForm" (ngSubmit)="submit(monForm)">
      <div class="form-group">
        <label>Search {{query}}</label>
        <input [(ngModel)]="query"
               type="search"
               class="form-control"
               required
               minlength="3"
               name="queryControl">
          <ng-container *ngIf="monForm.submitted && monForm.controls.queryControl?.errors as errors">
            <ng-container *ngIf="errors.required">
              <div class="help-text text-danger">Il est requis</div>
            </ng-container>
            <ng-container *ngIf="errors.minlength as minlength">
              <div class="help-text text-danger">Il est {{minlength | json}}</div>
            </ng-container>
          </ng-container>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <form [formGroup]="filterForm" (ngSubmit)="filter()">
      <div class="form-group">
        <label for="set">Set Name</label>
        <select
          id="set"
          name="set"
          class="form-control"
          formControlName="set">
          <option *ngFor="let setName of info.sets"
                  [ngValue]="setName"> {{setName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="classe"> Classe Name</label>
        <select
          name="classe"
          id="classe"
          class="form-control"
          formControlName="classe">
          <option *ngFor="let classeName of info.classes"
                  [ngValue]="classeName"> {{classeName}}</option>
        </select>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>

    <ng-container *ngIf="cards$ | async as cards">
    <div class="list-group">
      <ng-container *ngFor="let card of cards">
        <a
        [routerLink]="card.cardId"
           class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{card.name}}</h5>
            <small>{{card.cardId}}</small>
          </div>
          <p class="mb-1">{{card.text}}</p>
          <small>{{card.artist}}</small>
          <div>
          <img id="img" src="{{card.img}}">
          <img id="img1" src="{{card.imgGold}}">
          </div>
        </a>
      </ng-container>
    </div>
    </ng-container>
  </div>
